<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <center><h1 style="background-color:coral;">
        <p th:text="'Hello, ' + ${name} + '!'", style = "color:aliceblue" />
        <p th:text="'SOY ' + ${othername} + '!'", style = "color:rgb(191, 0, 0)" />
        <b><button type="button", style = "background-color: rgb(255, 238, 0); color: red;">Pesquisar</button></b></center>
    </h1>
</body>
</html>